.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%; // Mantiene 1:1 aspect ratio
  overflow: hidden;
  border-radius: 6px;
  background-color: #000; // opcional para evitar parpadeo
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
