<ion-header>
  <ion-toolbar>
    <ion-title>Photos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/new-image">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gallery-grid">
    <gallery-item></gallery-item>

  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
