<ion-header>
  <ion-toolbar>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="imageForm">
    <h3>Pick:</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="clickable-card">
            <ion-card-content class="ion-text-center">
              <input type="file" accept="image/*" hidden #photoInput />
              <div (click)="photoInput.click()">
                <ion-icon name="camera-outline" size="large"></ion-icon>
                <div>Photo</div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="clickable-card">
            <ion-card-content class="ion-text-center" (click)="onFileSelected()">
              <ion-icon name="document-outline" size="large"></ion-icon>
              <div>File</div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-label position="stacked">Descripción:</ion-label>
      <ion-textarea formControlName="description" autoGrow="true"></ion-textarea>
    </ion-item>

    <!-- Vista previa de imagen -->
    <div *ngIf="imagePreview" class="image-preview">
      <ion-label>Vista previa:</ion-label>
      <img [src]="imagePreview" alt="Vista previa" />
    </div>

    <ion-button expand="block" (click)="onSubmit()" [disabled]="imageForm.invalid">
      Save
    </ion-button>
  </form>
</ion-content>